.alignwrapper {
    display:flex;
    flex-flow:row wrap;
}

.alignleft {
    width:33.33333%;
    text-align:left;
}

.alignleft>button,
.aligncenter>button,
.alignright>button {
    cursor:pointer;
}

.aligncenter {
    width:33.33333%;
    text-align:center;
}

.alignright {
    width:33.33333%;
    text-align:right;
}