.alignwrapper {
    display:flex;
    flex-flow:row wrap;
}

.alignleft {
    width:33.33333%;
    text-align:left;
}

.alignleft>button,
.aligncenter>button,
.alignright>button {
    cursor:pointer;
}

.aligncenter {
    width:33.33333%;
    text-align:center;
}

.alignright {
    width:33.33333%;
    text-align:right;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}