---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    <br>
  </div>
  <div class="alignwrapper">
    <div class="alignleft">
      {%- if page.previous -%}
      {%- assign previous_page = site.pages | where: "permalink", page.previous | first -%}
      {%- if previous_page.title -%}
      <button onclick="window.location.href='{{ previous_page.permalink | relative_url}}'">&lt;- {{ previous_page.title }}</button>
      {%- endif -%}
      {%- endif -%}
    </div>
    
    <div class="aligncenter">
      {%- if page.base -%}
      {%- assign base_page = site.pages | where: "permalink", page.base | first -%}
      {%- if base_page.title -%}
      <button onclick="window.location.href='{{ base_page.permalink | relative_url}}'">{{ base_page.title }}</button>
      {%- endif -%}
      {%- endif -%}
    </div>

    <div class="alignright">
      {%- if page.next -%}
      {%- assign next_page = site.pages | where: "permalink", page.next | first -%}
      {%- if next_page.title -%}
      <button onclick="window.location.href='{{ next_page.permalink | relative_url}}'">{{ next_page.title }} -&gt;</button>
      {%- endif -%}
      {%- endif -%}
  </div>

</article>
